/*Footer*/
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $footer-bg;
    font-size: 12px;
}